@{
    ViewData["Title"] = "Welcome";
    Layout = "_Layout";
}

<div class="row justify-content-center align-items-center h-100">
    <div class="col text-center  page-content-container shadow-lg wow animate__animated animate__zoomIn mr-2 ml-2">
        <img src="~/images/devbloglogo.svg" class="center image" alt="DevBlogLogo">

        <h1>Welcome to IdentityServer4</h1>
        <p>
            IdentityServer publishes a
            <a href="~/.well-known/openid-configuration">discovery document</a>
            where you can find metadata and links to all the endpoints, key material, etc.
        </p>
        <p class="mb-0 mt-4 text-muted text-center">© 2022 - DevBlog </p>
    </div>
</div>

